{%  extends 'layout.html.twig' %}

{% block title %}Error{% endblock %}

{% block subTitle %} Error{% endblock %}

{% block body %}

    <div class="blog-post">
        <h1>Page not found</h1>
        <p>Sorry, that page doesn't exist.</p>
    </div>

{% endblock %}