{%  extends 'layout.twig' %}

{% block title %}Blog{% endblock %}

{% block subTitle %} Error {% endblock %}

{% block body %}

    <div class="blog-post">
        <h1>An error occured</h1>
        <p>Sorry, an error has ocurred.</p>
    </div>

{% endblock %}