<!doctype html>
<html lang="fr">

{% include '_include/head.html.twig' %}
<link href="/css/blog.css" type="text/css" rel="stylesheet">

<body>
<div class="container">
    <div class="d-xs-none d-sm-block">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-3 pt-1">

                    {% if current_user %}
                        <a href="/profile/show-profile">{{ current_user.username }}</a>
                    {% else %}
                        <a class="btn btn-sm btn-success btn-success " href="/signup/new">Sign&nbsp;up</a>
                    {% endif %}

                </div>
                <div class="col-6 text-center">
                    <a class="blog-header-logo text-dark" href="/">John B.</a>
                </div>
                <div class="col-3 d-flex justify-content-end align-items-center">

                    {% if current_user %}
                        <a class="text-info" href="/logout">Sign&nbsp;out</a>
                    {% else %}
                        <a class="text-info" href="/login/new">Sign&nbsp;in</a>
                    {% endif %}
                </div>
            </div>
        </header>
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-end">
                <a class="p-2 text-muted" href="/">Accueil</a>
                <a class="p-2 text-muted" href="/post/index">Blog</a>
                <a class="p-2 text-muted" href="/upload/cv.pdf" target="_blank">CV</a>
                <a class="p-2 text-muted" href="/">Contact</a>
            </nav>
        </div>
    </div>
    <div class="jumbotron p-3 p-md-5 rounded bg-dark">
        <div class="col-md-6 px-0 text-body">
            <h1 class="display-4 font-italic text-body">Développeur WEB</h1>
            <p class="lead my-3 text-body bg-light p-3">Ce n'est pas au nombre de lignes de codes que l'on juge un bon
                développeur, mais à sa capactié à comprendre le besoin client, rédiger un code lisible et à
                communiquer.</p>
            <p class="lead mb-0"><span class="text-body font-weight-bold">work in progress !</span></p>
        </div>
    </div>
    {% block myInfo %}{% endblock %}
</div>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <h1 class="pb-3 mb-4 font-italic border-bottom">
                {% block subTitle %}{% endblock %}
            </h1>
            <div class="blog-post">
                {% for message in flash_messages %}
                    <div class="alert alert-{{ message.type }} alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message.body }}
                    </div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->
        <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
                <h4 class="font-italic">Citations</h4>
                <blockquote class="blockquote">
                    <p>Si vous vivez votre vie selon le regard des autres, vous ne vivrez jamais votre propre vie.</p>
                    <footer class="blockquote-footer">Franck Nicolas</footer>
                </blockquote>
            </div>
            <div class="p-3">
                <h4 class="font-italic">Suivez moi</h4>
                <ol class="list-unstyled">
                    <li><a href="https://github.com/jlbokass" class="text-secondary" target="_blank"><i class="fab fa-github-square"></i> GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/jean-le-grand-bokassa/" class="text-secondary" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                    <li><a href="https://twitter.com/LeBokassa" class="text-secondary" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a></li>
                    <li><a href="https://www.facebook.com/jlbokass" class="text-secondary" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a></li>
                </ol>
            </div>
            <div class="p-3">
                <h4 class="font-italic">Liens</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="/" class="text-secondary"><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="/post/index" class="text-secondary"><i class="fas fa-newspaper"></i> Blog</a></li>
                    <li><a href="/upload/cv.pdf" target="_blank" class="text-secondary"><i class="fas fa-signature"></i> Cv</a></li>
                    <li><a href="/#contactAdmin" class="text-secondary"><i class="fas fa-file-signature"></i> Contact</a></li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->
    </div><!-- /.row -->
</main><!-- /.container -->
{% block emailMe %}{% endblock %}
<p class="text-center mb-5"><a href="#" >Back to top</a></p>
<footer class="blog-footer">
    Copyright © {{ Copyright  | date("Y") }} Conception by <a href="contact.html">John Bokassa</a>. <a href="/admin/index">Administration</a>
</footer>
{% include '_include/scriptJS.html.twig' %}
</body>
</html>
