<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/admin/index"><span data-feather="home"></span>Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/show-article">
                <span data-feather="file"></span>
                Article
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/show-comment">
                <span data-feather="file"></span>
                Comment
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/show-user">
                <span data-feather="users"></span>
                User
            </a>
        </li>
    </ul>
</div>