{%  extends 'layout.html.twig' %}

{% block title %}Comment request{% endblock %}

{% block subTitle %} Comment request{% endblock %}

{% block body %}

    <div class="blog-post">
        <div class="col-md-8 order-md-1">
            <p>Your comment request have been sumitted. We send you an email.</p>
        </div>
    </div>

{% endblock %}