{%  extends 'profile.html.twig' %}

{% block title %} Edit {% endblock %}


{% block body %}

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="blog-post">
    <div class="col-md-6 order-md-1">

        <form class="needs-validation" method="post" action="/profile/update-profile" novalidate>

            <div class="mb-3">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="my username is John for exemple" value="{{ user.username }}" required>
                <small id="usernameHelp" class="form-text text-muted">Something to identify you when you're logged in</small>
                <div class="invalid-feedback">
                    Please enter a valid username.
                </div>
            </div>

            <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" value="{{ user.email }}" required>
                <small id="emailHelp" class="form-text text-muted">Your email adress</small>
                <div class="invalid-feedback">
                    Please enter a valid email address.
                </div>
            </div>

            <div class="mb-3">
                <label for="password">Password</label>
                <div class="input-group" id="show_hide_password">
                    <input type="password" class="form-control" id="inputPassword" name="password">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon1"><a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a></span>
                    </div>
                    <div class="invalid-feedback">
                        Please enter a password.
                    </div>
                </div>
                <small id="passwordlHelp" class="form-text text-muted">Leave blank to keep current password </small>
            </div>

            <hr class="mb-4">
            <button class="btn btn-warning btn-lg btn-block" type="submit">Save</button>
            <a class="btn btn-primary btn-lg btn-block" href="/profile/show-profile">Cancel</a>
        </form>
    </div>

</div>

{% endblock %}

