{%  extends 'layout.html.twig' %}

{% block title %}CV{% endblock %}

{% block subTitle %} mon CV{% endblock %}

{% block body %}

    <div class="blog-post">
        <p>CV</p>
    </div>

{% endblock %}