<?php
/**
 * Created by PhpStorm.
 * UsersManager: jlbokass
 * Date: 15/01/2019
 * Time: 03:03
 */

namespace Config;


/**
 * Class Config
 * @package App
 */
class Config
{



    /**
     * Database host
     * @var string
     */
    const DB_HOST = 'your-database-host';

    /**
     * Database name
     * @var string
     */
    const DB_NAME = 'your-database-name';

    /**
     * Database user
     * @var string
     */
    const DB_USER = 'your-database-user';

    /**
     * Database password
     * @var string
     */
    const DB_PASSWORD = 'your-database-password';

    /**
     * Show or hide error messages on screen
     * @var boolean
     */
    const SHOW_ERRORS = true;

    /**
     * Secret key for hashing
     *https://randomkeygen.com
     * @var boolean
     */
    const SECRET_KEY = '';

    /**
     * Username for your mail account
     */
    const USER_NAME = '';

    /**
     * Password for your mail account
     */
    const PASSWORD_MAIL = '';

    /**
     * Your smtp
     */
    const SMTP_HOST = '';

    /**
     * Your port
     */
    const SMTP_PORT = '';

}