{%  extends 'layout.twig' %}

{% block title %}Sign Up{% endblock %}

{% block subTitle %} Sign Up {% endblock %}

{% block body %}

    {% if user.error is not empty %}
    <p>Errors:</p>
    <ul>
        {%  for error in user.error %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="blog-post">
        <div class="col-md-8 order-md-1">

            <form class="needs-validation" method="post" action="/signup/create" novalidate>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" value="{{ user.email }}" autofocus required>
                    <small id="emailHelp" class="form-text text-muted">Your email adress</small>
                    <div class="invalid-feedback">
                        Please enter a valid email address.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password_hash" value="" required>
                    <small id="emailHelp" class="form-text text-muted">More than 6 characters, 1 letter, 1 number</small>
                    <div class="invalid-feedback">
                        Please enter a password.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password-confirm">Confirmation du mot de pass</label>
                    <input type="password" class="form-control" id="password-confirm" name="password-confirm" value="" required>
                    <small id="emailHelp" class="form-text text-muted">Enter the same password</small>
                    <div class="invalid-feedback">
                        Please enter the same password.
                    </div>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Envoyez</button>
            </form>
        </div>

    </div>

{% endblock %}

