{% extends 'frontLayout.twig' %}

{% block head %}

    <title>Me contacter</title>

{% endblock %}

{% block pageTtitle %}
    Contact
{% endblock %}

{% block content %}

    <p>Hello</p>

{% endblock %}