{% extends 'frontLayout.twig' %}

{% block head %}

    <title>Articles</title>

{% endblock %}

{% block pageTtitle %}
    Liste des articles
{% endblock %}

{% block content %}

    <p>Hello</p>

{% endblock %}