{% extends 'frontLayout.twig' %}

{% block head %}

    <title>Inscription</title>

{% endblock %}

{% block pageTtitle %}
    Inscription
{% endblock %}

{% block content %}

    <p>Hello</p>

{% endblock %}