{% extends 'frontLayout.twig' %}

{% block head %}

    <title>Article</title>

{% endblock %}

{% block pageTtitle %}
    Article
{% endblock %}

{% block content %}

    <p>Hello</p>

{% endblock %}