{%  extends 'layout.html.twig' %}

{% block title %}Reset requested{% endblock %}

{% block subTitle %} Request password reset{% endblock %}

{% block body %}

    <div class="blog-post">

        <p>Please check your email.</p>
    </div>

{% endblock %}