{%  extends 'layout.html.twig' %}

{% block title %}Reset{% endblock %}

{% block subTitle %} Reset {% endblock %}

{% block body %}


{% if user.errors is not empty %}

<p>Errors:</p>
<ul>
    {% for error in user.errors %}

    <li>{{ error }}</li>

    {% endfor %}
</ul>

{% endif %}

<div class="blog-post">
    <div class="col-md-8 order-md-1">

        <form class="needs-validation" method="post" action="/password/reset-password" novalidate>

            <input type="hidden" name="token" value="{{ token }}">

            <div class="mb-3">
                <label for="password">Password</label>
                <div class="input-group" id="show_hide_password">
                    <input type="password" class="form-control" id="inputPassword" name="password" required>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon1"><a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a></span>
                    </div>
                    <div class="invalid-feedback">
                        Please enter a password.
                    </div>
                </div>
                <small id="passwordlHelp" class="form-text text-muted">More than 6 characters, 1 letter, 1 number </small>
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Reset password</button>
        </form>
    </div>

</div>

{% endblock %}

